.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
table {
  margin: auto;
  border: 1px solid rgb(97, 113, 209);
  padding: 10.5em;

}
.todoHeader {
  margin: auto;
  border: 2px solid;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 2px solid rgb(5, 5, 5);

}
.DescDate {
  margin: auto;
  border: 2px solid rgb(95, 209, 139);
  padding: 1em;
  padding-left: 7em;
  padding-right: 7em;
  align-items:flex-end;
}

#hthree {
  width:30px;
  margin-top: -40px;
  margin-inline: 30px;
  margin-left: 100px;
}